/* .register-text{
    text-decoration: none;
    color: black;
}

.login-text{
    text-decoration: none;
    color: black;
}

.background-reservation{
    background-color: blue;
    height: auto;
}
 */
